# Main CI Workflow {%- set default_python = '3.12' %}
name: CI

on:
  push:
    branches:
      - 'main'
      - '*.*'
      - '!*backport*'
    tags:
      - 'v*'
      - '!*dev*'
      - '!*pre*'
      - '!*post*'
  pull_request:
  # Allow manual runs through the web UI
  workflow_dispatch:

concurrency:
  group: {{ '${{ github.workflow }}-${{ github.ref }}' }}
  cancel-in-progress: true

jobs:
  core:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      envs: |
        - linux: py312
    secrets:
      CODECOV_TOKEN: {{ '${{ secrets.CODECOV_TOKEN }}' }}

  sdist_verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: '{{ default_python }}'
      - run: python -m pip install -U --user build
      - run: python -m build . --sdist
      - run: python -m pip install -U --user twine
      - run: python -m twine check dist/*

  test:
    needs: [core, sdist_verify]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      submodules: false
      coverage: codecov
      toxdeps: tox-pypi-filter
      posargs: -n auto
      envs: |
        - windows: py311
        - macos: py310
        - linux: py310-oldestdeps
    secrets:
      CODECOV_TOKEN: {{ '${{ secrets.CODECOV_TOKEN }}' }}

  docs:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      default_python: '{{ default_python }}'
      submodules: false
      pytest: false
      toxdeps: tox-pypi-filter
      libraries: |
        apt:
          - graphviz
      envs: |
        - linux: build_docs

  publish:
    # Build wheels on PRs only when labelled. Releases will only be published if tagged ^v.*
    # see https://github-actions-workflows.openastronomy.org/en/latest/publish.html#upload-to-pypi
    if: |
      github.event_name != 'pull_request' ||
      (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run publish')
      )
    needs: [test, docs]
{%- if cookiecutter.use_compiled_extensions == 'y' %}
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish.yml@v1
    with:
      sdist: true
      test_extras: 'tests'
      test_command: 'pytest -p no:warnings --doctest-rst --pyargs {{ cookiecutter.module_name }}'
      submodules: false
      targets: |
        - cp3{9,10,11,12}-manylinux*_x86_64
        - cp3{9,10,11,12}-macosx_x86_64
        - cp3{9,10,11,12}-macosx_arm64
        - cp3{9,10,11,12}-win_amd64
{%- else %}
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@v1
    with:
      python-version: '{{ default_python }}'
      test_extras: 'tests'
      test_command: 'pytest -p no:warnings --doctest-rst --pyargs {{ cookiecutter.module_name }}'
      submodules: false
{%- endif %}
    secrets:
      pypi_token: {{ '${{ secrets.pypi_token }}' }}
