name: Run template tests

on:
  push:
    branches:
      - main
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      toxdeps: "virtualenv"
      envs: |
        - windows: py38-test
        - macos: py39-test
        - linux: py310-test
        - linux: py311-test
        - linux: build_docs
